<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.bnemu.core" level="DEBUG"/>
    <logger name="org.bnemu.persistence" level="INFO"/>
    <logger name="org.bnemu.core.net.logging" level="DEBUG"/>
</configuration>
